.gg-arrange-front {
    box-sizing: border-box;
    position: relative;
    transform: scale(var(--ggs,1));
    display: block;
    width: 18px;
    height: 18px
}

.gg-arrange-front::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid;
    left: 4px;
    top: 4px;
    box-shadow:
        -5px -5px 0 -1px,
        5px 5px 0 -1px
}