.gg-arrow-bottom-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    transform: scale(var(--ggs,1));
    border-right: 2px solid
}

.gg-arrow-bottom-right::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 14px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    bottom: 3px;
    right: -3px
}