.gg-border-top {
    transform: scale(var(--ggs,1));
}

.gg-border-top,
.gg-border-top::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 14px;
    height: 14px;
    border-top: 3px solid
}

.gg-border-top::before {
    content: "";
    position: absolute;
    height: 10px;
    border: 3px solid;
    border-top: 0;
    top: 2px;
    left: 0;
    opacity: .3
}