.gg-compress-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(45deg) scale(var(--ggs,1));
    width: 2px;
    height: 26px;
    border-top: 10px solid;
    border-bottom: 10px solid
}

.gg-compress-right::after,
.gg-compress-right::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    left: -2px
}

.gg-compress-right::after {
    border-bottom: 2px solid;
    border-right: 2px solid;
    top: -5px
}

.gg-compress-right::before {
    border-top: 2px solid;
    border-left: 2px solid;
    bottom: -5px
}