.gg-drop {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(45deg) scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border-radius: 0 100% 100% 100%;
    box-shadow: inset 0 0 0 2px
}