.gg-npm,
.gg-npm::before {
    box-sizing: border-box;
    display: block
}

.gg-npm {
    position: relative;
    width: 18px;
    height: 18px;
    transform: scale(var(--ggs,1));
    border: 3px solid;
    border-radius: 2px
}

.gg-npm::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 12px;
    background: currentColor;
    bottom: -3px;
    right: 3px
}