.gg-patreon {
    transform: scale(var(--ggs,1))
}

.gg-patreon,
.gg-patreon::after {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 4px;
    height: 16px;
    background: currentColor;
    left: -6px
}

.gg-patreon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    opacity: .5;
    border-radius: 100px;
    left: 6px
}