.gg-push-chevron-left-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 100px
}

.gg-push-chevron-left-o::after,
.gg-push-chevron-left-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 2px;
    height: 8px;
    border-left: 2px solid;
    top: 5px;
    left: 5px
}

.gg-push-chevron-left-o::after {
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    transform: rotate(45deg);
    left: 9px;
    top: 6px
}