.gg-radio-checked,
.gg-radio-checked::after {
    display: block;
    box-sizing: border-box;
    border-radius: 100px
}

.gg-radio-checked {
    border: 2px solid;
    position: relative;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 20px
}

.gg-radio-checked::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: currentColor;
    top: 4px;
    left: 4px
}