.gg-record {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 6px solid transparent;
    box-shadow: 0 0 0 2px,inset 0 0 0 10px;
    border-radius: 100px
}