.gg-sand-clock {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 12px;
    height: 20px;
    border-top: 2px solid;
    border-bottom: 2px solid
}

.gg-sand-clock::after,
.gg-sand-clock::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-sand-clock::before {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    bottom: -2px;
    width: 10px;
    height: 10px;
    border: 2px solid;
    left: 1px
}

.gg-sand-clock::after {
    width: 6px;
    height: 6px;
    border: 2px solid transparent;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    top: 0;
    left: 3px;
    box-shadow:
        0 0 0 2px,
        inset 2px 0 0
}