.gg-scroll-v,
.gg-scroll-v::after,
.gg-scroll-v::before {
    display: block;
    box-sizing: border-box;
    width: 6px;
    height: 6px
}

.gg-scroll-v {
    position: relative;
    transform: scale(var(--ggs,1));
    border: 2px solid;
    border-radius: 10px
}

.gg-scroll-v::after,
.gg-scroll-v::before {
    content: "";
    position: absolute;
    transform: rotate(-45deg);
    left: -2px
}

.gg-scroll-v::after {
    border-bottom: 2px solid;
    border-left: 2px solid;
    bottom: -8px
}

.gg-scroll-v::before {
    border-top: 2px solid;
    border-right: 2px solid;
    top: -8px
}