.gg-sleep,
.gg-sleep::after {
    display: block;
    box-sizing: border-box
}

.gg-sleep {
    transform: scale(var(--ggs,1));
    position: relative;
    width: 18px;
    height: 18px;
    border: 2px solid;
    border-radius: 22px
}

.gg-sleep::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    background: currentColor;
    bottom: 2px
}