.gg-smile-none {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 100px
}

.gg-smile-none::after,
.gg-smile-none::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    height: 2px;
    background: currentColor;
    left: 4px
}

.gg-smile-none::before {
    box-shadow: 5px 0 0;
    width: 3px;
    border-radius: 10px;
    top: 5px
}

.gg-smile-none::after {
    border-radius: 3px;
    width: 8px;
    top: 10px
}