.gg-tap-double {
    display: block;
    position: relative;
    box-sizing: border-box;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 22px
}

.gg-tap-double::after,
.gg-tap-double::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 22px
}

.gg-tap-double::before {
    width: 20px;
    height: 20px;
    border: 6px double transparent;
    border-top: 6px double
}

.gg-tap-double::after {
    width: 6px;
    height: 10px;
    border: 2px solid transparent;
    border-bottom-width: 5px;
    box-shadow: 0 0 0 2px,inset 0 0 0 2px;
    left: 7px;
    bottom: 2px
}