.gg-terrain {
    display: block;
    position: relative;
    box-sizing: border-box;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 14px;
    overflow: hidden
}

.gg-terrain::after,
.gg-terrain::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-terrain::before {
    width: 0;
    height: 10px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid;
    top: 4px
}

.gg-terrain::after {
    width: 6px;
    height: 22px;
    background: currentColor;
    transform: rotate(-32deg) skewY(-35deg);
    left: 14px;
    top: 3px
}