.gg-timer,
.gg-timer::before {
  border: 2px solid;
  width: 18px;
  height: 18px;
  border-radius: 40px
}

.gg-timer {
  background:
    linear-gradient(to left,
        currentColor 10px,transparent 0)
        no-repeat 6px -2px/2px 6px;
  box-sizing: border-box;
  transform: scale(var(--ggs,1));
  position: relative;
  display: block;
  border-top-color: transparent
}

.gg-timer::after,
.gg-timer::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
}

.gg-timer::before {
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  right: -2px;
  top: -2px;
  transform: rotate(45deg)
}

.gg-timer::after {
  width: 2px;
  height: 6px;
  background: currentColor;
  transform: rotate(-50deg);
  left: 4px;
  bottom: 5px;
  border-radius: 100px
}