.gg-tree {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 20px
}

.gg-tree::after,
.gg-tree::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 8px
}

.gg-tree::before {
    width: 10px;
    height: 16px;
    border: 2px solid
}

.gg-tree::after {
    width: 2px;
    height: 12px;
    background: currentColor;
    left: 4px;
    bottom: 0
}