.gg-trees {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 20px;
    border-left: 4px solid transparent;
    border-right: 3px solid transparent;
    border-top: 10px solid transparent;
    box-shadow: inset 2px 0 0,inset -2px 0 0
}

.gg-trees::after,
.gg-trees::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 10px;
    height: 16px;
    border: 2px solid;
    border-radius: 8px;
    left: -4px;
    top: -10px
}

.gg-trees::after {
    width: 8px;
    height: 12px;
    top: -6px;
    left: 4px
}