.gg-ui-kit,
.gg-ui-kit::after,
.gg-ui-kit::before {
    display: block;
    box-sizing: border-box
}

.gg-ui-kit {
    position: relative;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 16px;
    border-radius: 3px;
    border: 2px solid
}

.gg-ui-kit::after,
.gg-ui-kit::before {
    content: "";
    position: absolute;
    border: 2px solid;
    width: 6px;
    height: 12px
}

.gg-ui-kit::before {
    border-right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transform:
        perspective(10px)
        rotateY(30deg);
    left: -8px
}

.gg-ui-kit::after {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transform:
        perspective(10px)
        rotateY(-30deg);
    border-left: 0;
    right: -8px
}