.gg-view-day {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border: 2px solid;
    border-radius: 3px;
    width: 20px;
    height: 14px
}

.gg-view-day::after,
.gg-view-day::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 2px;
    height: 12px;
    top: -2px;
    left: 7px;
    background: currentColor
}

.gg-view-day::before {
    width: 20px;
    height: 2px;
    left: -2px;
    top: 4px
}