.gg-windows {
    transform: scale(var(--ggs,1))
}

.gg-windows,
.gg-windows::before {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 17px;
    height: 15px
}

.gg-windows::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 6px;
    background: currentColor;
    box-shadow: 8px 0 0,8px 7px 0,0 7px 0;
    transform: perspective(30px) rotateY(-30deg)
}