.gg-work-alt,
.gg-work-alt::after {
    display: block;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px
}

.gg-work-alt {
    position: relative;
    transform: scale(var(--ggs,1));
    width: 14px;
    height: 10px;
    border-radius: 1px
}

.gg-work-alt::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    left: 4px;
    top: -3px
}