.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: var(--slant-size-28);
  block-size: var(--slant-size-28);

  svg {
    height: var(--slant-size-20);

    circle {
      stroke-width: 2;
      stroke-linecap: round;
    }

    polyline {
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
}
