.gg-arrows-shrink-v {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 10px;
    height: 20px;
    background: linear-gradient(to left, currentColor 10px, transparent 0) no-repeat center (center / 2px) 10px, linear-gradient(to left, currentColor 10px, transparent 0) no-repeat center 18px / 10px 2px, linear-gradient(to left, currentColor 10px, transparent 0) no-repeat center 0 / 10px 2px;

    &::after, &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 6px;
      height: 6px;
      transform: rotate(45deg);
      left: 2px;
    }

    &::after {
      border-left: 2px solid;
      border-top: 2px solid;
      top: 4px;
    }

    &::before {
      border-right: 2px solid;
      border-bottom: 2px solid;
      bottom: 4px;
    }
  }