.gg-arrows-exchange-alt-v {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 14px;
    height: 16px;

    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 2px;
      background: currentColor;
      border-radius: 4px;
    }

    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 2px;
      background: currentColor;
      border-radius: 4px;
      height: 6px;
      transform: rotate(-45deg);
      box-shadow: 13px -2px 0;
      top: 10px;
      left: 2px;
    }

    &::after {
      height: 12px;
      box-shadow: -4px 4px 0;
      right: 4px;
    }
  }