.gg-bowl {
    display: block;
    position: relative;
    transform: scale(var(--ggs, 1));
    box-sizing: border-box;
    width: 20px;
    height: 18px;

    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
    }

    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 20px;
      height: 12px;
      border: 2px solid;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      bottom: 0;
    }

    &::after {
      background: currentColor;
      width: 2px;
      height: 10px;
      border-radius: 4px;
      transform: rotate(45deg);
      right: 4px;
      top: -1px;
    }
  }