.gg-bulb {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-bottom-color: transparent;
    border-radius: 100px;

    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
    }

    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      border-top: 0;
      border-bottom-left-radius: 18px;
      border-bottom-right-radius: 18px;
      top: 10px;
      border-bottom: 2px solid transparent;
      box-shadow: 0 5px 0 -2px, inset 2px 0 0 0, inset -2px 0 0 0, inset 0 -4px 0 -2px;
      width: 8px;
      height: 8px;
      left: 2px;
    }

    &::after {
      width: 12px;
      height: 2px;
      border-left: 3px solid;
      border-right: 3px solid;
      border-radius: 2px;
      bottom: 0;
      left: 0;
    }
  }