.gg-captions {
    border-radius: 1px;
    transform: scale(var(--ggs, 1));
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 16px;
    border: 2px solid;

    &::after, &::before {
      box-sizing: border-box;
      position: relative;
      display: block;
      width: 20px;
      height: 16px;
      border: 2px solid;
    }

    &::after {
      content: "";
      position: absolute;
      width: 5px;
      height: 8px;
      border-right: transparent;
      top: 2px;
      left: 2px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 5px;
      height: 8px;
      border-right: transparent;
      top: 2px;
      left: 2px;
      left: 9px;
    }
  }