.gg-card-clubs {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 18px;
    height: 22px;
    border: 2px solid;
    border-radius: 3px;

    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      background: currentColor;
      border-radius: 4px;
      width: 4px;
      height: 4px;
      left: 5px;
      top: 4px;
      box-shadow: -2.5px 4px 0, 2.5px 4px 0;
    }
  }