.gg-cast {
  background: linear-gradient(to left, currentColor 5px, transparent 0) no-repeat bottom (right / 6px) 2px, linear-gradient(to left, currentColor 5px, transparent 0) no-repeat top (left / 2px) 2px;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 16px;
  border-top: 2px solid;
  border-right: 2px solid;
  border-radius: 2px;
  border-left: 0;

  &::after, &::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 6px double;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    transform: rotate(-45deg);
    bottom: -10px;
    left: -10px;
  }

  &::after {
    width: 4px;
    height: 4px;
    border: 2px solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    bottom: -2px;
    left: -2px;
  }
}