.gg-comedy-central {
   box-sizing: border-box;
   display: block;
   border: 3px solid;
   border-radius: 100px;

   &::before {
     box-sizing: border-box;
     display: block;
     border: 3px solid;
     border-radius: 100px;
     content: "";
     position: absolute;
     border-right-color: transparent;
     width: 10px;
     height: 10px;
     bottom: 2px;
     right: 2px;
   }

   position: relative;
   border-left-color: transparent;
   transform: scale(var(--ggs, 1));
   width: 20px;
   height: 20px;
 }