.gg-database {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 18px;
  height: 14px;
  border: 2px solid transparent;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 6px solid transparent;
  box-shadow: 0 0 0 2px, inset 0 2px 0 0, inset 0 -2px 0 0;
  border-radius: 1px;

  &::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
  }

  &::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    background: currentColor;
    width: 20px;
    height: 2px;
    top: 4px;
    left: -8px;
  }

  &::after {
    width: 2px;
    height: 10px;
    border-bottom: 2px solid;
    border-top: 2px solid;
    top: 0;
    left: -4px;
  }
}