.gg-extension {
    box-sizing: border-box;
    display: block;
    border: 2px solid;

    &::after, &::before {
      box-sizing: border-box;
      display: block;
      border: 2px solid;
    }

    position: relative;
    transform: translateX(-10px) scale(var(--ggs, 1));
    width: 8px;
    height: 14px;

    &::after {
      content: "";
      position: absolute;
      height: 8px;
    }

    &::before {
      content: "";
      position: absolute;
      height: 8px;
      bottom: -2px;
      left: -2px;
      width: 14px;
    }

    &::after {
      top: -6px;
      right: -12px;
      width: 8px;
    }
  }