.gg-format-bold {
    transform: scale(var(--ggs, 1));
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 8px;
    height: 8px;
    border: 2px solid;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;

    &::after {
      box-sizing: border-box;
      position: relative;
      display: block;
      width: 8px;
      height: 8px;
      border: 2px solid;
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      content: "";
      position: absolute;
      width: 10px;
      left: -2px;
      top: 4px;
    }
  }