.gg-icecream {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 14px;
    height: 16px;
    border: 2px solid;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: -8px;
    border-bottom: 0;

    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
    }

    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      border-left: 4px solid;
      border-right: 4px solid;
      width: 12px;
      height: 2px;
      bottom: 0;
      left: -2px;
    }

    &::after {
      width: 6px;
      height: 8px;
      border: 2px solid;
      bottom: -6px;
      left: 2px;
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      border-top: 0;
    }
  }