.gg-infinity {
  background: linear-gradient(to left, currentColor 5px, transparent 0) no-repeat -4px 4px / 2px 2px, linear-gradient(to left, currentColor 5px, transparent 0) no-repeat 4px 4px / 2px 2px;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: rotate(-45deg) scale(var(--ggs, 1));
  width: 10px;
  height: 18px;
  border: 4px solid transparent;
  box-shadow: inset 0 0 0 2px;

  &::after, &::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-radius: 200px;
    transform: rotate(45deg);
  }

  &::after {
    border-right-color: transparent;
    left: -8px;
    top: -4px;
  }

  &::before {
    border-left-color: transparent;
    right: -8px;
    top: 4px;
  }
}