.gg-layout-grid {
    transform: scale(var(--ggs, 1));
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 10px;
    height: 10px;

    &::after, &::before {
      box-sizing: border-box;
      position: relative;
      display: block;
      width: 10px;
      height: 10px;
    }

    &::after {
      content: "";
      position: absolute;
      height: 4px;
      border-left: 4px solid;
      border-right: 4px solid;
    }

    &::before {
      content: "";
      position: absolute;
      height: 4px;
      border-left: 4px solid;
      border-right: 4px solid;
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }