.gg-menu-right {
    transform: scale(var(--ggs, 1));
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: currentColor;

    &::after, &::before {
      box-sizing: border-box;
      position: relative;
      display: block;
      width: 20px;
      height: 2px;
      border-radius: 3px;
      background: currentColor;
    }

    &::after, &::before {
      content: "";
      position: absolute;
      top: -6px;
      right: 0;
      width: 10px;
    }

    &::after {
      top: 6px;
      width: 14px;
    }
  }