.gg-microbit {
    display: block;
    box-sizing: border-box;
    border-radius: 20px;

    &::before {
      display: block;
      box-sizing: border-box;
      border-radius: 20px;
      content: "";
      position: absolute;
      width: 4px;
      height: 4px;
      background: currentColor;
      top: 2px;
      left: 2px;
      box-shadow: 10px 0 0 0;
    }

    position: relative;
    transform: scale(var(--ggs, 1));
    width: 24px;
    height: 14px;
    border: 3px solid;
  }