.gg-more-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 24px;
    height: 20px;
    border: 2px solid;
    border-radius: 3px;

    &::before {
      content: "";
      position: absolute;
      box-sizing: border-box;
      display: block;
      width: 4px;
      height: 4px;
      background-color: currentColor;
      border-radius: 20px;
      top: 6px;
      left: 8px;
      box-shadow: -5px 0 0, 5px 0 0;
    }
  }