.gg-music-speaker {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 16px;
    height: 22px;
    border: 2px solid;
    border-radius: 3px;

    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      border: 2px solid;
      border-radius: 100px;
    }

    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      border: 2px solid;
      border-radius: 100px;
      bottom: 2px;
      width: 8px;
      height: 8px;
      left: 2px;
    }

    &::after {
      width: 4px;
      height: 4px;
      left: 4px;
      top: 2px;
    }
  }