.gg-nametag {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 6px;
    height: 6px;
    border: 2px solid;
    transform: scale(var(--ggs, 1));

    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 12px;
      height: 12px;
      box-shadow: -5px -5px 0 -3px, 5px 5px 0 -3px, 5px -5px 0 -3px, -5px 5px 0 -3px;
      left: -5px;
      top: -5px;
    }
  }