.gg-overflow {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 16px;
    height: 16px;
    border-radius: 20px;
    border-bottom: 8px solid;

    &::after {
      content: "";
      box-sizing: border-box;
      position: absolute;
      display: block;
      border-radius: 20px;
    }

    &::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      display: block;
      border-radius: 20px;
      width: 20px;
      height: 20px;
      border-bottom: 10px solid;
      opacity: .6;
      left: -2px;
      top: -2px;
    }

    &::after {
      width: 16px;
      height: 16px;
      border-top: 8px solid;
      opacity: .2;
      left: 0;
      top: 0;
    }
  }