.gg-path-intersect {
    display: block;
    position: relative;
    box-sizing: border-box;
    transform: scale(var(--ggs, 1));
    width: 14px;
    height: 14px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      box-sizing: border-box;
      border: 2px solid;
      width: 10px;
      height: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      box-sizing: border-box;
      border: 2px solid;
      width: 10px;
      height: 10px;
      background: linear-gradient(to left, currentColor 4px, transparent 0) no-repeat top (left / 4px) 4px;
      bottom: 0;
      right: 0;
    }
  }