.gg-path-front {
    display: block;
    position: relative;
    box-sizing: border-box;
    transform: scale(var(--ggs, 1));
    width: 14px;
    height: 14px;

    &::after, &::before {
      content: "";
      position: absolute;
      display: block;
      box-sizing: border-box;
      width: 10px;
      height: 10px;
    }

    &::after {
      border-left: 5px solid;
      border-top: 5px solid;
    }

    &::before {
      border: 2px solid;
      bottom: 0;
      right: 0;
    }
  }