.gg-pentagon-up {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 10px;
    height: 10px;

    &:before {
      width: 51%;
    }

    &:after {
      content: ' ';
      position: absolute;
      top: 0;
      height: 100%;
    }

    &:before {
      content: ' ';
      position: absolute;
      top: 0;
      height: 100%;
      left: -2px;
      border-top: 2px solid;
      border-left: 2px solid;
      border-bottom: 2px solid;
      transform: skew(0deg, -30deg);
    }

    &:after {
      right: -2px;
      width: 50%;
      border-right: 2px solid;
      border-bottom: 2px solid;
      border-top: 2px solid;
      transform: skew(0deg, 30deg);
    }
  }