.gg-push-chevron-down {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px;

    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      border-bottom: 2px solid;
    }

    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      border-bottom: 2px solid;
      bottom: 0;
      width: 14px;
      height: 2px;
      left: 2px;
    }

    &::after {
      width: 10px;
      height: 10px;
      border-right: 2px solid;
      transform: rotate(45deg);
      left: 4px;
      top: 2px;
    }
  }