.gg-qr {
    transform: scale(var(--ggs, 1));
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 14px;
    height: 14px;
    box-shadow: -6px -6px 0 -4px, 6px 6px 0 -4px, 6px -6px 0 -4px, -6px 6px 0 -4px;

    &::after {
      box-sizing: border-box;
      position: relative;
      display: block;
      width: 14px;
      height: 14px;
      box-shadow: -6px -6px 0 -4px, 6px 6px 0 -4px, 6px -6px 0 -4px, -6px 6px 0 -4px;
      content: "";
      position: absolute;
      width: 4px;
      height: 4px;
      background: currentColor;
      box-shadow: 0 6px 0, 6px 6px 0, 6px 0 0;
      top: 2px;
      left: 2px;
    }
  }