.gg-radio-checked {
    display: block;
    box-sizing: border-box;
    border-radius: 100px;

    &::after {
      display: block;
      box-sizing: border-box;
      border-radius: 100px;
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background: currentColor;
      top: 4px;
      left: 4px;
    }

    border: 2px solid;
    position: relative;
    transform: scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
  }