.gg-row-last {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 14px;
    height: 10px;

    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      border-radius: 3px;
      height: 2px;
      background: currentColor;
    }

    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      border-radius: 3px;
      height: 2px;
      background: currentColor;
      width: 10px;
      opacity: .5;
      box-shadow: 0 4px 0;
    }

    &::after {
      width: 14px;
      bottom: 0;
    }
  }