.gg-select-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 4px;

    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 6px;
      height: 6px;
      left: 6px;
      transform: rotate(-45deg);
    }

    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 6px;
      height: 6px;
      left: 6px;
      transform: rotate(-45deg);
      border-left: 2px solid;
      border-bottom: 2px solid;
      bottom: 4px;
    }

    &::after {
      border-right: 2px solid;
      border-top: 2px solid;
      top: 4px;
    }
  }