.gg-server {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 16px;
    height: 20px;
    border: 2px solid;
    border-radius: 3px;

    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      height: 2px;
      background: currentColor;
    }

    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      height: 2px;
      background: currentColor;
      top: 2px;
      box-shadow: 0 4px 0;
      border-radius: 3px;
      width: 8px;
      left: 2px;
    }

    &::after {
      width: 2px;
      border-radius: 10px;
      left: 5px;
      bottom: 2px;
    }
  }