.gg-shape-zigzag {
    display: block;
    box-sizing: border-box;
    width: 5px;
    height: 7px;
    border-left: 2px solid;
    border-bottom: 2px solid;

    &::after, &::before {
      display: block;
      box-sizing: border-box;
      width: 5px;
      height: 7px;
      border-left: 2px solid;
      border-bottom: 2px solid;
    }

    margin-left: -18px;
    transform: rotate(-49deg) scale(var(--ggs, 1));
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 2px;
      top: 5px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 2px;
      top: 5px;
      left: 7px;
      top: 10px;
    }
  }