.gg-sidebar {
    display: block;
    box-sizing: border-box;
    height: 16px;

    &::before {
      display: block;
      box-sizing: border-box;
      height: 16px;
      content: "";
      position: absolute;
      width: 14px;
      border: 2px solid;
      top: 0;
      left: 2px;
    }

    border-left: 2px solid;
    position: relative;
    transform: scale(var(--ggs, 1));
    width: 18px;
  }