.gg-sidebar-open {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 18px;
    height: 16px;
    border: 2px solid;

    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 4px;
      height: 12px;
      background: currentColor;
      top: 0;
      left: 0;
    }
  }