.gg-sketch {
    display: block;
    position: relative;
    box-sizing: border-box;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 18px;
    background: linear-gradient(to left, currentColor 16px, transparent 0) no-repeat center 6px / 6px 2px;

    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 14px;
      border: 2px solid;
      left: 4px;
    }

    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 14px;
      border: 2px solid;
      left: 4px;
      height: 14px;
      border-top-color: transparent;
      border-right-color: transparent;
      transform: rotate(-45deg) skew(-8deg, -8deg);
      bottom: 4px;
    }

    &::after {
      height: 7px;
      border-bottom: 0;
      transform: perspective(12px) rotateX(35deg);
    }
  }