.gg-smart-home-refrigerator {
    display: block;
    position: relative;
    box-sizing: border-box;
    transform: scale(var(--ggs, 1));
    width: 14px;
    height: 22px;
    border: 2px solid;
    border-radius: 3px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      box-sizing: border-box;
      background: currentColor;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      box-sizing: border-box;
      background: currentColor;
      width: 2px;
      height: 4px;
      border-radius: 2px;
      top: 2px;
      left: 2px;
      box-shadow: 0 8px 0;
    }

    &::after {
      width: 14px;
      height: 2px;
      top: 7px;
      left: -2px;
    }
  }