.gg-sort-za {
    display: block;
    box-sizing: border-box;
    height: 2px;
    border-radius: 4px;
    background: currentColor;

    &::after, &::before {
      display: block;
      box-sizing: border-box;
      height: 2px;
      border-radius: 4px;
      background: currentColor;
    }

    position: relative;
    transform: scale(var(--ggs, 1));
    width: 8px;

    &::after {
      content: "";
      position: absolute;
    }

    &::before {
      content: "";
      position: absolute;
      width: 12px;
      top: 4px;
      left: -2px;
    }

    &::after {
      width: 4px;
      top: -4px;
      left: 2px;
    }
  }