.gg-style {
    display: block;
    box-sizing: border-box;
    width: 8px;
    height: 8px;

    &::after, &::before {
      display: block;
      box-sizing: border-box;
      width: 8px;
      height: 8px;
    }

    position: relative;
    transform: scale(var(--ggs, 1));
    box-shadow: -3px 3px 0 -1px, 3px -3px 0 -1px;

    &::after {
      content: "";
      position: absolute;
      border: 2px solid;
    }

    &::before {
      content: "";
      position: absolute;
      border: 2px solid;
      top: -5px;
      left: -5px;
    }

    &::after {
      bottom: -5px;
      right: -5px;
    }
  }