.gg-tennis {
    display: block;
    box-sizing: border-box;
    border: 2px solid;
    width: 20px;
    height: 20px;
    border-radius: 20px;

    &::after, &::before {
      display: block;
      box-sizing: border-box;
      border: 2px solid;
      width: 20px;
      height: 20px;
      border-radius: 20px;
    }

    position: relative;
    transform: scale(var(--ggs, 1));
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
    }

    &::before {
      content: "";
      position: absolute;
      left: -11px;
      top: -11px;
    }

    &::after {
      right: -11px;
      bottom: -11px;
    }
  }