.gg-unblock {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(45deg) scale(var(--ggs, 1));
    width: 18px;
    height: 18px;
    border: 2px solid;
    border-radius: 100%;

    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 2px;
      height: 7px;
      background: currentColor;
      border-radius: 5px;
      left: 6px;
    }

    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 2px;
      height: 7px;
      background: currentColor;
      border-radius: 5px;
      left: 6px;
      top: -2px;
    }

    &::after {
      bottom: -2px;
    }
  }