.gg-website {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 18px;
    border: 2px solid;
    border-radius: 3px;
    box-shadow: 0 -1px 0;

    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 6px;
      top: 2px;
    }

    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 6px;
      top: 2px;
      background: currentColor;
      left: 2px;
      box-shadow: 0 4px 0,0 8px 0;
      border-radius: 3px;
      height: 2px;
    }

    &::after {
      height: 10px;
      border: 2px solid;
      right: 2px;
      border-radius: 1px;
    }
  }