.socials {
  display: flex;
  justify-content: space-between;
  gap: var(--css-size-64);
  padding-inline: calc(var(--css-size-52) * 2);
  padding-block-end: calc(var(--css-size-52) * 4);
  width: 100%;
  color: var(--css-color-neutral-200);

  .left {
    display: flex;
    flex-direction: column;
    gap: 4lh;
    border: 1px solid var(--css-color-neutral-700-40);
    border-radius: var(--css-border-radius-12);
    background-color: var(--css-color-neutral-700-10);
    padding: var(--css-size-44);
    min-width: 300px;

    .authors {
      display: flex;
      align-items: center;

      figure {
        display: flex;

        img {
          border: 2px solid var(--css-color-neutral-700);
          border-radius: var(--css-border-radius-90);
          width: auto;
          height: var(--css-size-36);
          font-size: var(--css-font-size-body-m);

          &:last-child {
            margin-left: -15%;
          }
        }
      }

      footer {
        display: flex;
        align-items: flex-start;
        gap: 1ch;

        .separator {
          color: var(--css-color-neutral-600);
          font-weight: 100;
          font-size: var(--css-font-size-body-xl);
        }

        [data-author] {
          display: flex;
          flex-direction: column;
          color: var(--css-color-neutral-200);
          font-size: var(--css-font-size-body-s);

          &::after {
            content: attr(data-author);
            color: var(--css-color-neutral-500);
            font-size: var(--css-font-size-body-xs);
          }
        }
      }
    }

    cite {
      color: var(--css-color-neutral-600);
    }
  }

  .right {
    flex: 1;
    border: 1px solid var(--css-color-neutral-700-40);
    border-radius: var(--css-border-radius-12);
    overflow: hidden;
  }

  .social {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 1ch;
    transition: var(--css-motion-transition);
    border-bottom-width: var(--css-border-width-01);
    border-color: var(--css-color-neutral-700-20);
    padding-inline: var(--css-size-56);
    padding-block: var(--css-size-44);
    font-size: var(--css-font-size-h3);

    &:not(:last-child) {
      border-bottom-style: var(--css-border-style);
    }

    .part {
      transition: var(--css-motion-transition);
    }

    .handle {
      color: var(--css-color-neutral-500);
      font-size: var(--css-font-size-body-xl);
    }

    .stats {
      margin-left: auto;
      color: var(--css-color-neutral-700);
      font-size: var(--css-font-size-body-m);
    }

    &:hover {
      background-color: var(--css-color-neutral-700-40);
      padding-inline: var(--css-size-64);

      .stats {
        color: var(--css-color-neutral-200);
      }

      .handle {
        color: var(--css-color-neutral-200);
      }
      .title {
        color: var(--css-color-neutral-600);
      }
    }
  }

  .talk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--css-color-neutral-700-40);
    background-color: var(--css-color-neutral-700-10);
    padding-inline: var(--css-size-56);
    padding-block: var(--css-size-44);
    font-size: var(--css-font-size-h3);

    .email {
      display: flex;
      align-items: center;
      gap: 2ch;
      color: var(--css-color-neutral-600);
      font-size: var(--css-font-size-body-m);

      span {
        translate: -1ch 0;
        opacity: 0;
        animation: fade 468ms ease forwards;
        color: var(--css-color-accent-500);
      }

      p {
        translate: -1ch 0;
        opacity: 0;
        animation: fade 468ms ease forwards;
      }

      button {
        display: flex;
        gap: 1ch;
        border: 1px solid var(--css-color-neutral-700);
        border-radius: var(--css-border-radius-90);
        padding-inline: var(--css-size-24);
        padding-block: var(--css-size-16);
        color: var(--css-color-neutral-500);
        font-family: var(--css-font-t26);

        &:hover {
          background-color: var(--css-color-neutral-700-40);
          color: var(--css-color-neutral-200);
        }

        svg {
          stroke: var(--css-color-neutral-200);
        }
      }
    }
  }
}
