.gg-border-style-solid {
    transform: scale(var(--ggs,1));
}

.gg-border-style-solid,
.gg-border-style-solid::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 26px;
    height: 17px
}

.gg-border-style-solid::before {
    content: "";
    position: absolute;
    height: 2px;
    top: 7px;
    border-top: 2px solid
}