.gg-collage {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 20px;
    border: 2px solid;
    border-radius: 3px
}

.gg-collage::after,
.gg-collage::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 2px;
    height: 20px;
    background: currentColor;
    left: 5px;
    top: -2px
}

.gg-collage::after {
    width: 9px;
    height: 2px;
    left: -2px;
    top: 4px;
    box-shadow: 7px 5px 0 0
}