.gg-digitalocean {
    position: relative;
    display: block;
    transform: rotate(45deg) scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 5px solid;
    box-sizing: border-box;
    border-radius: 100px;
    border-bottom-color: transparent
}

.gg-digitalocean::after,
.gg-digitalocean::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    background: currentColor;
    transform: rotate(-45deg)
}

.gg-digitalocean::after {
    box-shadow: -4px 4px 0 -1px;
    width: 5px;
    height: 5px;
    right: 2px;
    bottom: 0
}

.gg-digitalocean::before {
    width: 2px;
    height: 2px;
    right: 7px;
    bottom: -5px
}