.gg-erase {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 10px;
    border: 2px solid;
    border-radius: 2px;
    transform: rotate(-45deg)
}

.gg-erase::after,
.gg-erase::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    background: currentColor
}

.gg-erase::before {
    top: -1px;
    width: 3px;
    height: 8px;
    left: 4px
}

.gg-erase::after {
    border-radius: 3px;
    width: 18px;
    height: 2px;
    transform: rotate(45deg);
    bottom: -3px;
    left: -8px
}