.gg-format-justify,
.gg-format-justify::before {
    display: block;
    box-sizing: border-box;
    width: 16px;
    height: 2px;
    border-radius: 3px;
    background: currentColor;
    box-shadow: 0 8px 0
}

.gg-format-justify {
    margin-top: -11px;
    transform: scale(var(--ggs,1));
    position: relative
}

.gg-format-justify::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0
}