.gg-format-right,
.gg-format-right::before {
    display: block;
    box-sizing: border-box;
    height: 2px;
    background: currentColor;
    border-radius: 3px;
    box-shadow: 0 8px 0
}

.gg-format-right {
    margin-top: -11px;
    position: relative;
    transform: scale(var(--ggs,1));
    width: 16px
}

.gg-format-right::before {
    content: "";
    position: absolute;
    width: 10px;
    top: 4px;
    left: 6px
}