.gg-keyboard {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 26px;
    height: 14px;
    border: 2px solid;
    border-radius: 2px
}

.gg-keyboard::after,
.gg-keyboard::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    height: 2px;
    background: currentColor
}

.gg-keyboard::before {
    top: 2px;
    box-shadow:
        4px 0 0,
        8px 0 0,
        12px 0 0,
        16px 0 0,
        16px 4px 0,
        0 4px 0;
    width: 2px;
    left: 2px
}

.gg-keyboard::after {
    width: 10px;
    bottom: 2px;
    left: 6px
}