.gg-mail-reply,
.gg-mail-reply::before {
    display: block;
    box-sizing: border-box;
    height: 6px;
    border-top: 2px solid
}

.gg-mail-reply {
    border-right: 2px solid;
    transform: scale(var(--ggs,1));
    border-top-right-radius: 4px;
    position: relative;
    width: 14px
}

.gg-mail-reply::before {
    content: "";
    position: absolute;
    width: 6px;
    border-left: 2px solid;
    top: -4px;
    left: -1px;
    transform: rotate(-45deg)
}