.gg-oculus {
    display: block;
    position: relative;
    box-sizing: border-box;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 12px;
    border: 4px solid;
    border-radius: 22px;
}