.gg-play-pause {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 8px;
    height: 10px;
    border-left: 3px solid;
    border-right: 3px solid
}