.gg-play-track-prev-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 20px
}

.gg-play-track-prev-o::after,
.gg-play-track-prev-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    height: 8px;
    top: 5px
}

.gg-play-track-prev-o::before {
    width: 2px;
    border-radius: 2px;
    right: 11px;
    background: currentColor
}

.gg-play-track-prev-o::after {
    width: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 5px solid;
    right: 5px
}