.gg-push-left {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 2px;
    background: currentColor;
}

.gg-push-left::after,
.gg-push-left::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 2px;
    height: 12px;
    border-left: 2px solid;
    left: -5px;
    top: -5px
}

.gg-push-left::after {
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    transform: rotate(45deg);
    top: -3px;
    left: 0
}