.gg-push-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 2px;
    background: currentColor;
}

.gg-push-right::after,
.gg-push-right::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 2px;
    height: 12px;
    border-right: 2px solid;
    right: -5px;
    top: -5px
}

.gg-push-right::after {
    width: 8px;
    height: 8px;
    border-top: 2px solid;
    transform: rotate(45deg);
    top: -3px;
    right: 0
}