.gg-ring {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 20px
}

.gg-ring::after,
.gg-ring::before {
    content: "";
    display: block;
    position: absolute;
    border: 2px solid;
    box-sizing: border-box
}

.gg-ring::before {
    border-top-right-radius: 100px;
    transform: rotate(-45deg);
    width: 8px;
    height: 8px;
    left: 6px;
    top: -1px
}

.gg-ring::after {
    width: 18px;
    height: 18px;
    border-radius: 100px;
    border-top-color: transparent;
    left: 1px;
    top: 2px
}