.gg-screen-wide {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 24px;
    height: 11px;
    border: 2px solid;
    border-radius: 3px;
    margin-top: -4px
}

.gg-screen-wide::after,
.gg-screen-wide::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 8px;
    height: 2px;
    background: currentColor;
    top: 10px;
    left: 6px
}

.gg-screen-wide::before {
    width: 2px;
    height: 4px;
    top: 8px;
    left: 9px
}