.gg-sort-za,
.gg-sort-za::after,
.gg-sort-za::before {
    display: block;
    box-sizing: border-box;
    height: 2px;
    border-radius: 4px;
    background: currentColor
}

.gg-sort-za {
    position: relative;
    transform: scale(var(--ggs,1));
    width: 8px
}

.gg-sort-za::after,
.gg-sort-za::before {
    content: "";
    position: absolute
}

.gg-sort-za::before {
    width: 12px;
    top: 4px;
    left: -2px
}

.gg-sort-za::after {
    width: 4px;
    top: -4px;
    left: 2px
}