.gg-toggle-on,
.gg-toggle-on::before {
    display: block;
    box-sizing: border-box;
    border-radius: 20px
}

.gg-toggle-on {
    border: 2px solid;
    position: relative;
    transform: scale(var(--ggs,1));
    width: 24px;
    height: 14px
}

.gg-toggle-on::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: currentColor;
    top: 2px;
    left: 2px
}