.gg-unsplash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 15px
}

.gg-unsplash::after,
.gg-unsplash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-unsplash::before {
    width: 16px;
    height: 9px;
    border: 5px solid;
    border-top: 0;
    bottom: 0
}

.gg-unsplash::after {
    width: 6px;
    height: 4px;
    background: currentColor;
    top: 0;
    left: 5px
}