.gg-voice-mail {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 12px;
    height: 10px;
    border-bottom: 2px solid
}

.gg-voice-mail::after,
.gg-voice-mail::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-radius: 10px;
    top: 0;
    left: -5px
}

.gg-voice-mail::after {
    left: 7px
}