::view-transition-old(root) {
  animation: fade-out 14s ease-in-out 1 forwards;
}

::view-transition-new(root) {
  animation: fade-in 1s ease-in-out 1 forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes shimmer {
  0% {
    mask-image: linear-gradient(
      60deg,
      #000 25%,
      rgba(0, 0, 0, 0) 50%,
      #000 75%
    );
    mask-position: 0%;
    mask-size: 400%;
  }
  100% {
    mask-image: linear-gradient(
      60deg,
      #000 25%,
      rgba(0, 0, 0, 0) 50%,
      #000 75%
    );
    mask-position: 100%;
    mask-size: 400%;
  }
}

@keyframes fade {
  100% {
    translate: 0 0;
    opacity: 1;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.4;
  }
  50% {
    transform: scale(6);
    opacity: 0;
  }
}

/* Vertical scroll scale, scroll driven animation */

.on-scroll {
  animation: on-scroll-content linear both;
  transition: all 426ms;
  animation-timeline: view();
  animation-range: contain 25% contain 50%;
}

@keyframes on-scroll-content {
  0% {
    scale: 0.9;
    opacity: 0;
  }
}
