header.main-header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  z-index: 2;
  inset: 0 0 auto 0;
  padding-inline: var(--slant-size-28);
  padding-block: var(--slant-size-28);
  width: 100%;
  pointer-events: none;

  .sides {
    pointer-events: initial;
  }

  .left {
    display: flex;
    align-items: center;
    gap: 6ch;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 5ch;
  }
}
