@import "../reset/reset.css";
@import "../tokens/tokens.css";

html {
  scrollbar-width: none;
  font-size: 10px;
}

body {
  background: var(--slant-color-brand-css-600);
  overscroll-behavior: contain;
  scroll-behavior: smooth;
  scroll-padding-top: 160px;
  color: var(--slant-color-neutral-200);
  font-weight: normal;
  font-size: 1rem;
  line-height: 1;
  font-family: var(--slant-font-default);
  font-variant-numeric: slashed-zero tabular-nums;
  font-feature-settings: "zero" 1;
  letter-spacing: normal;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}
