.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: var(--css-size-28);
  block-size: var(--css-size-28);

  svg {
    height: var(--css-size-14);
    stroke-width: 2;
    stroke: currentColor;
  }
}
