.cursor {
  position: fixed;
  z-index: 9999;
  cursor: none;
  contain: strict;
  inset: 0;
  isolation: isolate;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  color: var(--color-text-1);
  /* cursor */
  --cursor-x: 50%;
  --cursor-y: 50%;
  --cursor-b: 1px;
  --cursor-s: 24px;

  .part {
    position: absolute;
    transform: translate3d(
      calc(var(--cursor-x) - (var(--cursor-s) / 2)),
      calc(var(--cursor-y) - (var(--cursor-s) / 2)),
      0
    );
    transform-origin: center;
    transition:
      width 242ms cubic-bezier(0.19, 1, 0.22, 1),
      height 242ms cubic-bezier(0.19, 1, 0.22, 1),
      transform 242ms cubic-bezier(0.19, 1, 0.22, 1);
    border: var(--cursor-b) solid currentColor;
    border-radius: var(--css-border-radius-99);
    width: var(--cursor-s);
    height: var(--cursor-s);
    pointer-events: none;
  }

  .magnet {
    opacity: 0.4;
  }

  .ring {
    --cursor-s: 4px;
  }

  @media (hover: none) {
    display: none;
  }

  &.anchored {
    .magnet {
      border-color: var(--color-text-2);
    }
  }

  &.down {
    .magnet {
      opacity: 0;
      --cursor-s: 38px;
      border-style: dotted;

      &:not(.anchored) & {
        rotate: 46deg;
      }
    }
  }

  &:not(.on) :is(.part) {
    opacity: 0;
  }
}

body:has(.options .prev:hover) .magnet {
  mask-image: linear-gradient(to left, transparent 24%, black 100%);
}

body:has(.options .next:hover) .magnet {
  mask-image: linear-gradient(to right, transparent 24%, black 100%);
}

/* cursor defaults */

html,
a,
button,
input,
textarea {
  cursor: none;
}

@media (max-width: 1024px) {
  html,
  a,
  button,
  input,
  textarea {
    cursor: auto;
  }

  .cursor {
    display: none;
  }
}
