:root {
  /* CMD tokens */
  --dialog-br: 12px;
  --dialog-bc: #14121c;
  --dialog-bg: #0b0a0f;
  --dialog-bs: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

[cmdk-dialog] {
  position: fixed;
  top: 15%;
  left: 50%;
  width: 100%;
  max-width: 640px;
  transform: translateX(-50%);
  overflow: hidden;
  transform-origin: left;
  animation: scaleIn 200ms ease;
  transition: transform 100ms ease;
  outline: none;
  z-index: 100;
}

[cmdk-root] {
  width: 100%;
  padding: 8px;
  border-radius: var(--dialog-br);
  background: var(--dialog-bg);
  box-shadow: var(--dialog-bs);
  border: 1px solid var(--dialog-bc);
  overflow: hidden;
  transition: transform 100ms ease;
  outline: none;
}

[cmdk-input] {
  font-family: var(--css-font-sans);
  border: none;
  width: 100%;
  font-size: 17px;
  padding: 8px 8px 16px 8px;
  outline: none;
  background: var(--bg);
  color: var(--gray12);
  border-bottom: 1px solid var(--gray6);
  margin-bottom: 16px;
  border-radius: 0;

  &::placeholder {
    color: var(--gray9);
  }
}

[cmdk-vercel-badge] {
  height: 20px;
  background: var(--grayA3);
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  font-size: 12px;
  color: var(--grayA11);
  border-radius: 4px;
  margin: 4px 0 4px 4px;
  user-select: none;
  text-transform: capitalize;
  font-weight: 500;
}

[cmdk-item] {
  content-visibility: auto;
  height: 48px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  color: var(--gray11);
  user-select: none;
  will-change: background, color;
  transition: all 150ms ease;
  transition-property: none;

  &[data-selected="true"] {
    background: var(--grayA3);
    color: var(--gray12);
  }

  &[data-disabled="true"] {
    color: var(--gray8);
    cursor: not-allowed;
  }

  &:active {
    transition-property: background;
    background: var(--gray4);
  }

  & + [cmdk-item] {
    margin-top: 4px;
  }

  svg {
    width: 18px;
    height: 18px;
  }
}

[cmdk-list] {
  height: min(330px, calc(var(--cmdk-list-height)));
  max-height: 400px;
  overflow: auto;
  overscroll-behavior: contain;
  transition: 100ms ease;
  transition-property: height;

  &::-webkit-scrollbar {
    display: none;
  }
}

[cmdk-vercel-shortcuts] {
  display: flex;
  margin-left: auto;
  gap: 8px;

  kbd {
    font-family: var(--css-font-sans);
    font-size: 12px;
    min-width: 20px;
    padding: 4px;
    height: 20px;
    border-radius: 4px;
    color: var(--gray11);
    background: var(--gray4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
}

[cmdk-separator] {
  height: 1px;
  width: 100%;
  background: var(--gray5);
  margin: 4px 0;
}

*:not([hidden]) + [cmdk-group] {
  margin-top: 8px;
}

[cmdk-group-heading] {
  user-select: none;
  font-size: 12px;
  color: var(--gray11);
  padding: 0 8px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

[cmdk-empty] {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  white-space: pre-wrap;
  color: var(--gray11);
}

/* tokens */

@keyframes scaleIn {
  from {
    transform: scale(0.97) translateX(-50%);
    opacity: 0;
  }
  to {
    transform: scale(1) translateX(-50%);
    opacity: 1;
  }
}

.backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(28px);
  background-color: var(--color-backdrop);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 0;
  transition: all 624ms ease;

  &.open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
