*.styl
.*ignore
.npmrc
.umi/
.DS_Store
CODEOWNERS
*.ejs
src/assets
!.*.js
dist/
nginx.conf
Dockerfile
Jenkinsfile
*.png
*.xml
*.styl.d.ts
/.docz
*.json
*.md
*.sh
*.html
*.lock
*.ico
*.svg
*.info
*.afdesign
*.watchmanconfig
*.flowconfig
LICENSE
lib/
*.tpl
